{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
  <div class="page-header" style="padding-top: 0px;">
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form" method="post" action="/create_case/">{% csrf_token %}
        <button type="submit" class="btn btn-success">新增用例</button>
      </form>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width=10%>用例编码</th><th width=20%>用例名称</th><th width=20%>预置条件</th><th width=20%>执行步骤</th><th>预期结果</th><th width=10%>创建时间</th>
          </tr>
        </thead>
        <tbody>
          {% for case in cases %}
            <tr>
              <td>{{ case.casenumber }}</td>
              <td>{{ case.casename }}</td>
              <td>{{ case.precondition }}</td>
              <td>{{ case.step }}</td>
              <td>{{ case.expectresults }}</td>
              <td>{{ case.createtime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
